* {
    box-sizing: border-box;
  }

  body {
    position: relative;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "League Spartan", sans-serif;
  }

.review-box {
    width: 375px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}